In [63]:
#LECTURA DE LOS DATASETS#

# Importación de Bibliotecas:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
# Carga de datos

df1 = pd.read_csv("datasets/aif_ba_ba_nac.csv")
df2 = pd.read_csv("datasets/aif_ba_ba_p.csv")
df3 = pd.read_csv("datasets/aif_rvdb_p.csv")
df4 = pd.read_csv("datasets/aif_t_l.csv")
df5 = pd.read_csv("datasets/aif_t_p.csv")
df6 = pd.read_csv("datasets/aif_tec_trim.csv")
df7 = pd.read_csv("datasets/aif_vdb_l.csv")
df8 = pd.read_csv("datasets/aif_vdb_p.csv")
df9 = pd.read_csv("datasets/datn_if_v.csv")
df10 = pd.read_csv("datasets/if_vm_ba_p.csv")
df11= pd.read_csv("datasets/if_vm_ba.csv")
df12= pd.read_csv("datasets/ing_tri_if.csv")
df13= pd.read_csv("datasets/loc_con_int.csv")
df14= pd.read_csv("datasets/pen_if_hog_nac.csv")
df15= pd.read_csv("datasets/pen_if_hog.csv")

In [3]:
#Total nacional de accesos a Internet fijo por banda ancha y banda angosta
#df1 = pd.read_csv("aif_ba_ba_nac.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 36 filas y 6 columnas
print(df1.shape)
df1.head()

(36, 6)

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022
3  2022          1                11       13     11   Ene-Mar 2022
4  2021          4                10       13     10   Oct-Dic 2021

In [10]:
#Accesos a banda ancha y banda angosta por provincia
#df2 = pd.read_csv("aif_ba_ba_p.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 864 filas y 6 columnas
print(df2.shape)
df2.head()

(864, 6)

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total
0  2022          4     Buenos Aires                 5      6.0      5
1  2022          4  Capital Federal                 2      2.0      2
2  2022          4        Catamarca                71      1.0     71
3  2022          4            Chaco               144      5.0    144
4  2022          4           Chubut               168    904.0    169

In [77]:
# Acceso a Internet Fijo por rangos de velocidad de bajada y provincia
#df3 = pd.read_csv("aif_rvdb_p.csv")
# Muestra el datasets
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 864 filas y 12 columnas
print(df3.shape)
df3.head()

(864, 12)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,Capital Federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,Catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,Chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,Chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759

In [96]:
#Accesos a Internet fijo por tecnología y localidad
#df4 = pd.read_csv("aif_t_l.csv")
print(df4.shape)
df4.head()

(3137, 13)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98"
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28"
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6

In [99]:
#Accesos a Internet fijo por tecnología y provincia
#df5 = pd.read_csv("datasets/aif_t_p.csv")
print(df4.shape)
df4.head()

(3137, 13)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98"
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28"
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6

In [97]:
# Serie trimestral de accesos a Internet fijo por tecnología
# df6 = pd.read_csv("aif_tec_trim.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 36 filas y 6 columnas
print(df6.shape)
df6.head()

(36, 9)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,4,1,6,3,573,222,11,Oct-Dic 2022
1,2022,3,1,6,3,557,235,11,Jul-Sept 2022
2,2022,2,1,6,3,556,232,11,Abr-Jun 2022
3,2022,1,2,6,2,546,252,11,Ene-Mar 2022
4,2021,4,2,6,2,523,253,10,Oct-Dic 2021

In [46]:
# Accesos a Internet fijo por velocidad de bajada y localidad
# df7 = pd.read_csv("aif_vdb_l.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 3095 filas y 83 columnas
print(df7.shape)
df7.head()

(3095, 83)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# Accesos a Internet fijo por velocidad de bajada y Provincia
# df8 = pd.read_csv("aif_vdb_p.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 3095 filas y 83 columnas

# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 36 filas y 6 columnas
print(df8.shape)
df8.head()

(505, 97)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps
0,2022.0,4.0,Buenos Aires,97.634,18,- 0,- 0,28.724,192,4.611,...,- 0,- 0,14,- 0,- 0,- 0,5.655,- 0,90.796,- 0
1,2022.0,4.0,Capital Federal,106.772,31,- 0,- 0,451.000,34,1.307,...,- 0,- 0,- 0,1,- 0,- 0,15,- 0,28.406,- 0
2,2022.0,4.0,Catamarca,2.280,- 0,- 0,- 0,34.000,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,4.0,Chaco,3.909,- 0,225,111,234.000,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,4.0,Chubut,20.026,8,- 0,- 0,69.000,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [55]:
# Distribución de los accesos totales nacionales a Internet fijo por velocidad
# df9 = pd.read_csv("datn_if_v.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 3095 filas y 83 columnas

# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 36 filas y 6 columnas
print(df9.shape)
df9.head()

(36, 11)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,11.208.114
1,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128
2,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684
3,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009
4,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794

In [60]:
# Velocidad media de bajada de Internet fijo por provincia
# df10 = pd.read_csv("if_vm_ba_p.csv")

# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 864 filas y 4 columnas
print(df10.shape)
df10.head()

(864, 4)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          4     Buenos Aires                 111.000
1  2022          4  Capital Federal                  18.286
2  2022          4        Catamarca                   8.333
3  2022          4            Chaco                  10.402
4  2022          4           Chubut                   1.592

In [98]:
# Velocidad media de bajada de Internet fijo por provincia
# df10 = pd.read_csv("if_vm_ba_p.csv")

# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 864 filas y 4 columnas
print(df11.shape)
df11.head()

(36, 4)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          4                  10.656   Oct-Dic 2022
1  2022          3                   6.246  Jul-Sept 2022
2  2022          2                   5.844   Abr-Jun 2022
3  2022          1                   5.511   Ene-Mar 2022
4  2021          4                   5.234   Oct-Dic 2021

In [69]:
# Velocidad Media de bajada de Internet fijo
# df12= pd.read_csv("ing_tri_if.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 36 filas y 4 columnas
print(df12.shape)
df12.head()

(36, 4)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

In [73]:
# Listado de localidades con conectividad a internet.
# df13= pd.read_csv("loc_con_int.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 36 4311 y 12 columnas
print(df13.shape)
df13.head()

(4311, 12)

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--

In [48]:
# Penetración por hogares nacional de Internet fijo
# df14= pd.read_csv("pen_if_hog_nac.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 36 y 5 columnas
print(df14.shape)
df14.head()

(36, 5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,"77,21","24,15",Oct-Dic 2022
1,2022,3,"76,64","23,95",Jul-Sept 2022
2,2022,2,"75,97","23,72",Abr-Jun 2022
3,2022,1,"73,88","23,05",Ene-Mar 2022
4,2021,4,"73,18","22,81",Oct-Dic 2021

In [54]:
# Penetración de Internet fijo (accesos por cada 100 hogares)
# df15= pd.read_csv("pen_if_hog.csv")
# Mostrar las primeras filas y estadísticas descriptivas : El dataset consta de 864 y 7 columnas
print(df15.shape)
df15.head()

(864, 7)

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN